/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Ord]
      ,[Defcode]
      ,[Empl]
      ,[Employee Code and Name]
      ,[Jan 2020]
      ,[Feb 2020]
      ,[Mar 2020]
      ,[Apr 2020]
      ,[May 2020]
      ,[Jun 2020]
      ,[Jul 2020]
      ,[Aug 2020]
      ,[Sep 2020]
      ,[Oct 2020]
      ,[Total]
  FROM [lebo].[dbo].[Sheet2$]
  order by [Ord];